
.login-wrapper{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    gap: 30px;
    .login {
            display: flex;
            flex-direction: column;
        }
    .bg{
        width: 50%;

        img{
            width: 100%;
        }
    }
        input {
            color: white;
            padding: 10px 20px;
            font-size: 18px;
            outline: none;
            border-radius: 10px;
            margin-bottom: 5px;
        }
    .submit{
        margin-top: 10px;
    }
}

