.search-cotainer{
    display: flex;
    align-items: center;
    gap:10px;
    height: 72px;
    width: 500px;
    padding: 8px;
    margin: 0 auto;

    position: absolute;
    top: 35%;
    right: 0;
    left: 0;
    

    background: #dbd3d3;
    border-radius: 8px;
}
.search-cotainer .city-search{
    position: relative;
    flex: 2;

    text-align: center;
    color:black;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    /* background-image: url('../../assets/images/Vector.png'); */
    background-repeat: no-repeat;
    background-position: 80px 25px;
    
}

.cities-show{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top:85%;

    background-color: white;

    color:black;
    width: 100px;
    padding: 16px 0;
    border-radius: 8px;

    z-index: 20;
}
.cities-show .item:hover{
    background-color: aliceblue;
    font-weight: 600;
}
.item{
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.attractions{
    flex:8;
    background-color: white;
    padding: 18px;
    border: none;
    border-radius: 6px;
    color:black;
}


/* effect */
.cities-none {
    display: none;
}